/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
    
.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 1rem 2.5rem !important;
}


.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/* --- CUSTOM --- */

.slick-slide {
  transition: .2s ease-in-out;
  transform: scale(0.6);
  z-index: 10;
  border-radius: 5%;  
  border-color: black;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0px 10px 24px -4px rgba(0,0,0,0.75);
  /* clip-path:  inset(13% 0% 11% 0% round 10%); */
}
.slick-slide img{
    border-radius: 5%;  
}
.slick-center {
  transform: scale(1.0) !important;
  z-index: 20 !important;
}

.slick-slide:hover{
  box-shadow: 0px 10px 34px -4px rgba(0,0,0,0.75);  
}

.slick-prev {
  z-index: 999;
  position: fixed;
  bottom: -15vh;
  right: 60vw;
  border-color:  lightblue;
}

.slick-next{
  z-index: 999;
  position: fixed;
  bottom: -15vh;
  left: 60vw;
  border-color:  #FE5946;
}
main button{
  transition: background-color 0.3s ease;
  background-color: #fff;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  width: 10rem;
  height: 3rem;
  font-size: 1.4rem;
}
.slick-next:hover{
  color: #FE5946;
}
.slick-prev:hover{
    color: lightblue;
}
.slick-next:active{
  background-color: #FE5946;
  color: #fff;
}
.slick-prev:active{
    background-color: lightblue;
    color: #fff;
}

.slick-slide{
  transform: scale(.8);
  display: flex;
}
.slick-slider{
  display: flex;
}
.slick-track div, .slick-test div {
    background: transparent !important;
}
