*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    width: 100%;
    font-family: 'Ruluko', sans-serif;
    /* overflow: hidden; */

    /* Border for developing */
    /* border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 80, 252); */
}

button:focus {outline:0;}

p{
    font-size: .7rem;
}

html{
	font-size: 100%;
}

.left, .right{
    position: absolute;
    width: 19vw;
}

.left{
    left: 0;
}

.right{
    top: 0;
}

.right{
    right: 0;
    top: 0;
}

nav{
    display: flex;
    position: fixed;
}

nav h1{
    text-align: center;
    margin: 5rem 0;
    font-size: 2.5rem;
}

footer{
    display: flex;
    align-items: flex-end;
    align-content: space-between;
    position: fixed;
    bottom: 1%;
}

footer img{
    height: auto;
    width: 40%;
}

footer p{
    margin: 0 .7rem
}

.carousel{
    position: absolute;
    top: 25vh;
}

#logo{
    width: auto;
    margin: 2rem auto;
}

#element{
  transition: .1s ease-in-out;
}

#element:hover {
    cursor: pointer;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top:100px;
    width: 95%;
}

.grid > #element{
    transition: .2s ease-in-out;
  transform: scale(0.80);
  border-radius: 5%;  
  border-color: black;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0px 10px 24px -4px rgba(0,0,0,0.75);
}

#element > img{
    clip-path:  inset(0% 0% 0% 0% round 5%);
}

#logo:hover{
    cursor: pointer;
}

main{
    margin: auto;
}

.slick-slide{
    margin: 2rem 0;
}
.switch{
    width: 10rem;
    margin: 2rem auto;
    text-align: center;
}


/* COLORING PAGE */
.palette{
    /* clip-path:  inset(0% 0% 0% 0% round 10%); */
    transform: translate(-50%, 0);
    position: absolute;
    /* background-color:rgba(255, 255, 125, 1); */
    background-color: lightblue;
    border-radius: 2.5rem 2.5rem 0 0;
    left: 50vw;
    margin: 90vh 0 0 0;
    text-align: center;
}
.picker {
    border-style: solid;
    border-width: 1.5px;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 25px;
    margin: 5px 5px;
  }
  .picker-FFFFFF { background-color: #FFFFFF; }
  .picker-8E53A1 { background-color: #8E53A1; }
  .picker-6ABD46 { background-color: #6ABD46; }
  .picker-71CCDC { background-color: #71CCDC; }
  .picker-F7ED45 { background-color: #F7ED45; }
  .picker-F7DAAF { background-color: #F7DAAF; }
  .picker-EC2527 { background-color: #EC2527; }
  .picker-F16824 { background-color: #F16824; }
  .picker-CECCCC { background-color: #CECCCC; }
  .picker-5A499E { background-color: #5A499E; }
  .picker-06753D { background-color: #06753D; }
  .picker-024259 { background-color: #024259; }
  .picker-FDD209 { background-color: #FDD209; }
  .picker-7D4829 { background-color: #7D4829; }
  .picker-931B1E { background-color: #931B1E; }
  .picker-B44426 { background-color: #B44426; }
  .picker-979797 { background-color: #979797; }
  .picker-C296C5 { background-color: #C296C5; }
  .picker-54B948 { background-color: #54B948; }
  .picker-3C75BB { background-color: #3C75BB; }
  .picker-F7ED45 { background-color: #F7ED45; }
  .picker-E89D5E { background-color: #E89D5E; }
  .picker-F26F68 { background-color: #F26F68; }
  .picker-676868 { background-color: #676868; }
  .picker-9060A8 { background-color: #9060A8; }
  .picker-169E49 { background-color: #169E49; }
  .picker-3CBEB7 { background-color: #3CBEB7; }
  .picker-E5B07D { background-color: #E5B07D; }
  .picker-EF3C46 { background-color: #EF3C46; }
  .picker-FDBE17 { background-color: #FDBE17; }
  .picker-4E4D4E { background-color: #4E4D4E; }
  .picker-6B449B { background-color: #6B449B; }
  .picker-BACD3F { background-color: #BACD3F; }
  .picker-1890CA { background-color: #1890CA; }
  .picker-FCD55A { background-color: #FCD55A; }
  .picker-D8C077 { background-color: #D8C077; }
  .picker-A62E32 { background-color: #A62E32; }
  .picker-F16A2D { background-color: #F16A2D; }
  .picker-343433 { background-color: #343433; }
  .picker-583E98 { background-color: #583E98; }
  .picker-BA539F { background-color: #BA539F; }
  .picker-9D2482 { background-color: #9D2482; }
  .picker-DD64A5 { background-color: #DD64A5; }
  .picker-DB778D { background-color: #DB778D; }
  .picker-EC4394 { background-color: #EC4394; }
  .picker-E0398C { background-color: #E0398C; }
  .picker-68AF46 { background-color: #68AF46; }
  .picker-4455A4 { background-color: #4455A4; }
  .picker-FBEE34 { background-color: #FBEE34; }
  .picker-AD732A { background-color: #AD732A; }
  .picker-D91E36 { background-color: #D91E36; }
  .picker-F99B2A { background-color: #F99B2A; }

  .picker-indicator {
    border-style: solid;
    border-width: 1.5px;
    height: 2rem;
    color: #fff;
    width: 50%;
    border-radius: 20px;
    margin: 1rem 0;
    background-color: white;
  }

  svg {
    /* z-index: -1; */
    transform: translate(-50%, 0);
    position: fixed;
    top: 22%;
    left: 50%;
    width: auto;
    height: 60vh;
    pointer-events: none;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
  }

  .name {
    position: absolute;
    bottom: 13vh;
    text-align: center;
  }

  g g {
    pointer-events: all;
    display: inline-block;
  }
  g g path {
    /* transition: fill 0.2s ease-in-out; */
  }
  /* g g:hover path{
    fill: grey;
  } */
  #outlines {
    pointer-events: none;
  }

  /* Media Query */
@media screen and (min-width: 87.5em) {
    html{
        font-size: 120%;
    }
}
@media screen and (min-width: 768px){
    #logo{
        width: auto;
    }
    /* .carousel{
        margin: 6vh 0;
        } */
    nav{
        position: absolute;
    }
    svg{
        position: absolute;
        top: 15%;
    }
    .name {
        bottom: 19.5vh;
    }
    .palette{
        position: absolute;
        transform: translate(-50%, 0);
        margin: 82vh 0 0 0;
        width: 70%;
        left: 50%;
        background: none;
    }
    p{
        font-size: 1rem;
    }
    .left{
        top: -10vw;
    }
    .left, .right{
        width: 13vw;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 85%;
    }
}
@media screen and (min-width: 1024px){
    .wrapper{
        padding: 22vh 0 0 0;
        width: 48rem;
        margin: auto;
        display: flex;
        align-content: space-around;
    }
    svg{
        top: 0%;
        left: 0%;
    transform: translate(0, 0);

        position: relative;
    }
    .name {
        bottom: 13vh;
        text-align: left;
    }
    .palette{
        left: 0;
        transform: translate(0, 0);
        margin: 0 auto;
        position: relative;
        width: 20rem;
        text-align: center;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 80%;
    }
    .picker-indicator{
        margin: 0 0 1rem 0;
    }
}
