img  {
  width: 350px;
}

.slick-slide {
  transition: transform .2s ease-in-out;
  transform: scale(0.6);
  z-index: 10;
  box-shadow: 0px 10px 24px -4px rgba(0,0,0,0.75);
}

.slick-center {
  transform: scale(0.85) !important;
  z-index: 20 !important;
}

.slick-prev {
  position: fixed;
  bottom: 5%;
  right: 60vw;
}

.slick-next {
  position: fixed;
  bottom: 5%;
  left: 60vw;
}
